body {
    background: #004281;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
  color: whitesmoke;
  text-align: center;
  }

  p {
    color: whitesmoke;
    font-weight: bold;
  }
  
  .assign1 {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: steelblue;
  }
  
  .assign1 img {
    width: 200px;
    padding: 10px;
  }

  .assign2 {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: steelblue;
  }
  
  .assign2 img {
    width: 300px;
    padding: 10px;
  }
  
  .assign2 a {
    text-decoration: none;
    color: black;
  }

  .assign2 a:visited {
    color: darkred;
  }

  .assign3 {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: steelblue;
  }
  
  .assign3 img {
    width: 200px;
    padding: 10px;
  }

  .assign3 a {
    text-decoration: none;
    color: black;
  }

  .assign3 a:visited {
    color: darkred;
  }

  .assign4 {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: steelblue;
  }
  
  .assign4 img {
    width: 400px;
    padding: 10px;
  }

  .assign4 a {
    text-decoration: none;
    color: black;
  }

  .assign4 a:visited {
    color: darkred;
  }